@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.admin_area {
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.__sidebar {
    width: 200px;
    height: 100%;
    top: 0px;
    background-color: rgb(75, 51, 51);
    position: fixed;
}

.__sidebar div {
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__sidebar ul {
    list-style: none;
    margin-left: -25px;
}

.__sidebar ul li {
    margin-left: -15px;
}

.__sidebar ul li a {
    height: 50px;
    line-height: 50px;
    background-color: rgb(24, 26, 25);
    display: block;
    padding-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #f6f6f6;
    font-size: 13px;
}

.__sidebar ul li a:hover {
    background-color: #000;
}

#post_table tr th {
    text-align: center;
    font-size: 12px;
}

.admin_main_content {
    margin-left: 200px;
    padding: 30px 50px;
}

#post_table .inner_text {
    font-size: 12px;
}

.banner {
    height: 250px;
    width: 100%;
    display: flex;
    background-color: #959595;
    color: #fff;
    border: 11px solid #f6f6f6;
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.latest_posts {
    height: 640px;
    background-color: #f6f6f6;
    padding: 30px;
    overflow-y: scroll;
    border: 5px solid #fff;
}

.latest_posts h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: blueviolet;
}

.latest_posts p {
    font-size: 10px;
    line-height: 10px;
    color: #000;
}

.sidebar_posts {
    background-color: #f6f6f6;
    border: 5px solid #fff;
    padding: 30px;
    height: 350px;
    overflow-y: scroll;
}

.sidebar_posts h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: blueviolet;
}

.float-right {
    float: right;
}

.comment {
    background-color: #f6f6f6;
    margin-bottom: 10px;
    padding: 10px;
    margin-bottom: 0px;
}

.comment p {
    font-size: 9px;
    line-height: 10px;
    color: #000;
}

.comment a {
    color: blue;
    font-size: 10px;
}

.comment h6 {
    font-size: 12px;
    margin-bottom: 0px;
}